@model VentaDeVehiculos.Models.Venta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"> Oficial Ventas</label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>

            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Nombre Cliente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>

            <div class="form-group">
                <label asp-for="VehiculoId" class="control-label"> Vehiculo</label>
                <select asp-for="VehiculoId" class ="form-control" asp-items="ViewBag.VehiculoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label">Total</label>
                <input asp-for="Total" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-dark">Volver a la Lista</a>
</div>

