@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Simple</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="./css/estilo_Home.css">

</head>

<body>

    <div class="text-center">
        <center>
            <h1> PAGINA PRICIPAL</h1>
        </center>

        <div id="encaezado" class="row">
            <div id="m1" class="col-12">
                <video id="video1" controls autoplay muted>
                    <source src="./VideosPrincipal/Hyundai auto oficial Festival de Viña 2023..mp4" />
                </video>
            </div>

            <div id="m2" class="col-12">
                <video controls autoplay muted>
                    <source width="60%" src="./VideosPrincipal/Hyundai   Nueva Hyundai CRETA 2024.mp4" />
                </video>
            </div>

            <div id="vide1">
            </div>
        </div>

    </div>

    <!-- Enlace a Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script> *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>



