@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>privacidad</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/estilos_pivacidad.css">

</head>

<body>

    <div class="parrafo">
        <p class="hijaparrajo">
            En Bolivia. Hyundai tiene una presencia significativa a través de su página web, donde ofrece una variedad de vehículos para diferentes necesidades.
            La página tambien proporciona información detallada sobre cada modelo, cubriendo aspectos como el diseño, el rendimiento, la seguridad y la tecnología para mejorar la experiencia del cliente.
        </p>
    </div>

    <video class="video" autoplay controls muted>
        <source src="~/VideosPrincipal/Nuevo Hyundai KONA. Gama Híbrida y Eléctrica. Supera tus límites.mp4" />
    </video>

    <div class="parafo_final">
        <p> VENTA DE VEHICULOS HYUNDAI BOLIVIA </p>
    </div>

</body>

</html>