@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Simple</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="./css/estilos_pivacidad.css">

</head>

<body>

    
    <div class="PadreVideo">
        <div class="HijoVideo">
            <video>
            </video>            
        </div>
    </div>

</body>

</html>





