* {
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #808080 !important; /* Color de fondo gris */
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    
}

    #nav a {
        color: white;
        text-decoration: none;
        padding: 15px;

    }

.container {
    max-width: 100%;
    padding: 20px;

}

.Padre {
    position: relative;
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    width: 90%; /* Ocupa el 90% del ancho de la página */
    border: 1px solid #ccc; /* Añade un borde opcional para visualización */
    padding: 20px; /* Espacio interior opcional */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho y alto total */
    background-color: #ffffff; /* Fondo blanco para la parte dentro */

}

.hija_1, .hija_2 {
    margin-top: 20
}
.hija_1 {
    margin-top: 20px; /* Espacio superior opcional */
    font-family: 'Palmer', A; /* Cambia el tipo de letra a Arial */
    text-align: center; /* Centra el texto horizontalmente */
    width: 70%; /* Ocupa el 50% del ancho de la página */
    margin-left: auto; /* Alinea a la izquierda */
    margin-right: auto; /* Alinea a la derecha */
}